@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Raleway-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
  /* unicode-range: U+0020-007F; */
}

@font-face {
  font-family: "IranSans";
  src: url("../assets/fonts/IRYekan.woff");
  font-style: normal;
  font-display: swap;

  /* unicode-range: U+0020-007F; */
}
body {
  -webkit-overflow-scrolling: touch;
}
* {
  line-height: 2;
}
html,
body {
  overflow-x: hidden;
}
input {
  font-family: "Roboto", "IranSans";
}
.mantine-MultiSelect-item {
  font-family: "Roboto", "IranSans";
  text-align: right;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.mantine-MultiSelect-searchInput {
  font-family: "Roboto", "IranSans";
}
.mantine-MultiSelect-wrapper {
  font-family: "Roboto", "IranSans";
  text-align: right;
  display: flex;
  align-items: flex-end;
}
.mantine-TextInput-error {
  font-family: "Roboto", "IranSans";
}
.mantine-Stepper-stepLabel {
  font-family: "Roboto", "IranSans";
}
.mantine-Stepper-steps {
  text-align: left;
  display: flex;

  flex-direction: row-reverse;
}
.mantine-Select-item {
  font-family: "Roboto", "IranSans";
  text-align: right;
}
.mantine-DateRangePicker-input {
  font-family: "Roboto", "IranSans";
  text-align: right;
}
.mantine-Input-input {
  font-family: "Roboto", "IranSans";
  text-align: right;
}
#mantine-rd {
  font-family: "Roboto", "IranSans";
  text-align: right;
}
#mantine-Rqmncm-target {
  font-family: "Roboto", "IranSans";
  text-align: right;
}
* {
  font-family: "Roboto", "IranSans";
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #2b026d #ffe3cb;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 767px) {
  *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bb9651;
  border: 0px none #ffffff;
  border-radius: 86px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffd1;
}
::-webkit-scrollbar-thumb:active {
  background: #13cfad;
}
::-webkit-scrollbar-track {
  background: #ffe3cb;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #f8ddd9;
}
::-webkit-scrollbar-track:active {
  background: #f8ddd9;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
